DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/bookstore?schema=public
PORT=3001
POSTGRES_DB=bookstore
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
BOOKS_CACHE_TTL_SECONDS=60
